<form action="<%= action %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="_method" value="<%= method %>">

  <label>Username:
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>
  <br>

  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <br>

  <% if message == "Create User!" %>

    <%= render partial: "/posts/postfield", locals: { post: post } %>

  <% end %>

  <p><input type="submit" value="<%= message %>"></p>

</form>