<form action="<%= action %>" method="POST">
  <%= auth_token_input %>

  <input type="hidden" name="_method" method = "<%= method %>">

  <label>Post body:
    <input type="text" name="post[body]" value="<%= post.body %>">
  </label><br>

  <% post.links.each_with_index do |link, i| %>

    <label>URL for post:
      <input type="text" name="links[<%= i %>][url]" value="<%= link.url %>">
    </label><br>


  <% end %>

  <p><input type="submit" value="<%= message %>"></p>
</form>