<form action="<%= action %>" method="POST">
  <%= auth_token_input %>

  <input type="hidden" name="_method" method = "<%= method %>">

  <input type="hidden" name="post[user_id]" value = "<%= current_user.id %>">

  <label>Post body:
    <input type="text" name="post[body]" value="<%= post.body %>">
  </label><br>

  <% post.links.each_with_index do |link, i| %>
    <label>URL for post:
      <input type="text" name="links[<%= i %>][url]" value="<%= link.url %>">
    </label><br>
  <% end %>

  <% current_user.owned_circles.each_with_index do |circle, i| %>

    <label>
      <input type="checkbox"
             name="post[circle_ids][]"
             value="<%= circle.id %>"
             <%= "checked" if post.circles.include?(circle) %>>
      <%= circle.name %>
    </label>
    <br>

  <% end %>

  <p><input type="submit" value="<%= message %>"></p>
</form>