<form action="<%= action %>" method="POST">
  <%= auth_token_input %>

  <input type="hidden" name="_method" method = "<%= method %>">

  <input type="hidden" name="post[user_id]" value = "<%= current_user.id %>">

  <%= render partial: "postfield", locals: { post: post } %>

  <p><input type="submit" value="<%= message %>"></p>
</form>