<!DOCTYPE html>
<html>
<head>
  <title>FriendsCircle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <p>
    You are currently logged in as: <%= link_to current_user.username, user_url(current_user) %>
  </p>
  <%= button_to "Log Out!", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign In!", new_session_url %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
